extends ../site/layout
block extend_head
  link(rel='stylesheet', href='/stylesheets/admin.css')
  script(src="/javascripts/admin.js")  
block content

  h1 #{ title }

  table
    thead
      tr
        th Marque
        th Nom
        th Description
    tbody
      each arome in aromes
        tr
          td= arome.marque
          td= arome.nom
          td= arome.description
          td
            a(href='/arome/' + arome._id + '/delete') Supprimer
          td
            a(href='/arome/' + arome._id + '/edit') Modifier