extends ../site/layout
block extend_head
  link(rel='stylesheet', href='/stylesheets/admin.css' media='screen')
  script(src="/javascripts/admin.js" async)  
block content
  h1 #{ title }

  table
    thead
      tr
        th Nom
        th Ajoutée
        th Auteur
    tbody
      each recette in recettes
        tr
          td= recette.nom
          td= formatDate(recette.ajoute, "dateTime")
          td= recette.auteur
          td
            a(href='/admin/delete/recette/' + recette._id) Supprimer
          td
            a(href='/recette/' + recette._id + '/edit') Modifier