extends ../site/layout
block extend_head
  link(rel='stylesheet', href='/stylesheets/recettes.css')
block content

  h1 #{ title }

  table
    thead
      tr
        th Nom
        th Ajoutée
        th Auteur
        th Actions
    tbody
      each recette in recettes
        tr
          td= recette.nom
          td= recette.ajoute.toISOString().substr(0, 10)
          td= recette.auteur
          td
            a(href='/recette/' + recette._id + '/delete') Supprimer
            a(href='/recette/' + recette._id + '/edit') Modifier