extends ../layout
block content

  h1 Nouvelle recette

  form
    ul
      li
        label Nom de la recette
        input(value="#{recipe.name}")
      li
        label Date de création
        input(value="#{recipe.date}", type="date")
      li
        label Arôme 1
        input
      li
        label Arôme 2
        input