extends ../layout
block content
  main
    form
      ul
        li
          label Nom de la recette
          input
        li
          label Date de création
          input
        li
          label Arôme 1
          input
        li
          label Arôme 2
          input
        li
          label
          input
        li
          label
          input
        li
          label
          input
        li
          label
          input