extends ../layout
block extend_script
  script(src="../javascripts/app/recipes/new.js")
block content

  h1 #{ title }

  form(method="POST")
    ul
      li
        label Nom de la recette
        input(name="nom", value="#{recette.nom}")
      li
        label Arôme 1
        input(name="arome1")
      li
        label Arôme 2
        input(name="arome2")
    input(type="submit", value="Enregistrer cette recette.")
    input(type="hidden" name="_csrf" value=csrfToken)