extends ../layout
block extend_script
  script(src="../javascripts/app/recipes/new.js")
block content

  h1 #{ title }

  form
    ul
      li
        label Nom de la recette
        input(value="#{recipe.name}")
      li
        label Date de création
        input(value="#{recipe.date}", type="date")
      li
        label Arôme 1
        input
      li
        label Arôme 2
        input