nav
  span.brand-icon
    a(href="/") Recipes
  span.search-bar
    label(for="search-bar") Search
    input(name="search-bar" type="text")
  ul.menu
    li
      span Recettes
        ul
          li
            a(href='/recettes/all') Toutes les recettes
          li
            a(href='/recettes/new') Nouvelle recette
          li
            a(href='/recettes/my') Mes recettes
    li
      span Arômes
        ul
          li
            a(href="/aromes/all") Tous les arômes
          li
            a(href="/aromes/new") Nouvel arôme
          li
            a(href="/aromes/my") Mes arômes
    li
      span Groupes
        ul
          li
            a(href="/groupes/all") Tous les groupes
          li
            a(href="/groupes/new") Nouveau groupe
          li
            a(href="/groupes/my") Mes groupes

    li
      span Profil
        ul
          if (!user || !user.username)
            li
              a(href='/users/login') Connexion
          else
            li
              a(href='/users/profile') Mon profil
            li
              a(href='/users/logout') Déconnexion