nav
  span.brand-icon
    a(href="/") Recipes
  span.search-bar
    label(for="search-bar") Search
    input(name="search-bar" type="text")
  ul.menu
    li
      a
        span Recettes
          ul
            li
              span Toutes les recettes
            li
              span Nouvelle recette
            li
              span Mes recettes
    li
      a
        span Ar么mes
          ul
            li
              span Tous les ar么mes
            li
              span Nouvel ar么me
            li
              span Mes ar么mes
    li
      a
        span Groupes
          ul
            li
              span Tous les groupes
            li
              span Nouveau groupe
            li
              span Mes groupes