body {
  color: #666;
  font: 1.3em 'Handlee', cursive;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

main {
  animation: fadeIn 300ms ease-in;
}

@keyframes fadeIn {
  from {
    margin-left: 10px;
    opacity: 0;
  } to {
    margin-left: 0;
    opacity: 1;
  }
}

nav {
  background-color: #09d;
  color: white;
  display: flex;
  font-size: 1.3em;
  font-weight: bold;
  height: 70px;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

nav * {
  margin-bottom: auto;
  margin-top: auto;
}

nav a {
  text-decoration: none;
}

.brand-icon {
  font: 45px 'Grand Hotel', cursive;
  margin-left: 85px;
  margin-top: 3px;
  transition: margin-left 0.2s;
}

.brand-icon a {
  color: #fff !important;
}

.brand-icon a:hover {
  animation: giggle 600ms ;
}

@keyframes giggle {
  0% {
    margin-left: 0px;
  }
  40% {
    margin-left: 10px;
  }
  60% {
    margin-left: -10px;
  }
  80% {
    margin-left: 5px;
  }
  90% {
    margin-left: -5px;
  }
  100% {
    margin-left: 0px;
  }
}

.search-bar {
  display: flex;
  margin-right: 50px;
}

.search-bar * {
  align-items: flex-start;
  display: inline-block;
  font-size: 32px;
}

.search-bar > label {
  margin-right: 25px;
}

.search-bar > input {
  border: none;
  height: 33px;
  margin: auto;
}

.search-bar > input[type="text"] {
  font: 19px 'Handlee', cursive !important;
  font-weight: bold !important;
}

.search-bar > input[type="submit"] {
  background-color: #00B7AF;
  color: white;
  font-size: 22px;
  font-weight: bold !important;
  margin-left: 15px;
  padding: 0 16px;
}

main {
  height: 100%;
  padding: 20px;
  padding-top: 80px;
  padding-bottom: 50px;
}


@media all and (max-width: 900px) {
  nav {
    display: block;
    height: auto;
    margin: 0;
    position: relative;
  }

  nav > * {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0;
  }

  html, body, main, footer {
    margin: 0;
    padding: 0;
  }

  footer {
    margin: 0;
    position: relative !important;
  }

  .search-bar {
    display: block;
  }
}

.drawer-btn {
  border: 3px solid white;
  border-radius: 6px;
  display: inline-block;
  padding: 2px 3px !important;
  position: fixed;
  top: 15px;
  left: 15px;
}

.drawer-btn > hr {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  height: 3px;
  margin: 5px;
  width: 25px;
}

.drawer-frame {
  background-color: #fff;
  box-shadow: 1px 0px 5px #888;
  display: inline-block;
  float: left;
  height: 100vh;
}

.drawer-frame * {
  list-style: none;
  margin: 0;
  padding: 0;
}

input[type="checkbox"] {
  display: none
}

input[type="checkbox"]:checked + .drawer-btn hr {
  background-color: #ccc;  
  color: #ccc;
}
input[type="checkbox"]:checked + .drawer-btn {
  border-color: #ccc;
}

input[type="checkbox"]:checked + .drawer-btn + .drawer-frame .drawer-menu {
  margin-left: 0;
  transition: all 0.2s;
}

input[type="checkbox"]:checked + .drawer-btn + .drawer-frame + .brand-icon {
  margin-left: 15px;
  transition: all 0.2s;
}

.drawer-menu {
  margin-left: -250px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 50px;
  transition: margin-left 0.2s;
  width: 250px;
}

.drawer-menu .separator {
  background-color: #ddd;
  display: block;
  height: 2px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 90%;
}

.drawer-menu .title {
  color: #aaa;
  font-size: 24px;
}

.drawer-menu a {
  color: #5cb5d8;
  font-size: 20px;
}