body {
  font: 15px "Roboto" !important;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

nav {
  background-color: #09d;
  color: white;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  height: 60px;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

nav * {
  margin: auto;
}

nav a {
  color: white !important;
  text-decoration: none;
}

.brand-icon {
  font-size: 35px;
  margin-left: 20px;
}

.search-bar > label {
  margin-right: 10px;
}

.search-bar > input + input {
  margin: 0;
  margin-left: 10px;
  background-color: #00B7AF;
  padding: 4px 16px;
  font-size: 0.9em;
}

nav > .menu {
  height: 100%;
  list-style: none;
}

nav > .menu > li {
  color: white;
  cursor: pointer;
  display: flex;
  float: left;
  height: 100%;
  padding: 0 10px;
  position: relative;
  vertical-align: center;
}

nav > .menu > li:hover {
  background-color: #8df;
}

nav > .menu > li:hover ul {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  width: 250px;
}

nav > .menu > li:hover ul > li {
  padding: 0;
}

nav > .menu > li:hover ul > li > a {
  background-color: #8df;
  border: 1px solid white;
  display: inline-block;
  font-size: 18px;
  padding: 4px 8px;
  width: 100%;
}

nav > .menu > li:hover ul > li:hover > a {
  background-color: white;
  border: 1px solid #8df;
  color: #8df !important;
}


nav > .menu > li {
  display: flex;
  height: 100%;
}

nav > .menu ul {
  display: none;
  list-style: none;
}

main {
  height: 100%;
  padding: 20px;
  padding-top: 80px;
}


@media all and (max-width: 900px) {
  nav {
    display: block;
    height: auto;
    margin: 0;
    position: relative;
  }

  nav > * {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0;
  }

  nav > .menu {
    display: block;
  }

  nav > .menu > li {
    display: block;
    float: none;
    padding: 0;
  }

  nav > .menu > li:hover ul {
    display: block;
    position: relative;
    top: 100%;
    left: 0;
    padding: 0;
    width: 100%;
  }

  html, body, main, footer {
    margin: 0;
    padding: 0;
  }

  footer {
    margin: 0;
    position: relative !important;
  }

  .search-bar {
    display: block;
  }
}