body {
  color: #666;
  font: 1.3em 'Handlee', cursive;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

main {
  animation: fadeIn 300ms ease-in;
}

@keyframes fadeIn {
  from {
    margin-left: 10px;
    opacity: 0;
  } to {
    margin-left: 0;
    opacity: 1;
  }
}

nav {
  background-color: #09d;
  color: white;
  display: flex;
  font-size: 1.3em;
  font-weight: bold;
  height: 70px;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

nav * {
  margin-bottom: auto;
  margin-top: auto;
}

nav a {
  text-decoration: none;
}

.brand-icon {
  font: 45px 'Grand Hotel', cursive;
  margin-left: 85px;
  margin-top: 3px;
  transition: margin-left 0.2s;
}

.brand-icon a {
  color: #fff !important;
}

.brand-icon a:before {
  height: 0 !important;
}

.brand-icon a:hover {
  color: #fff !important;
  animation: giggle 600ms ;
}

@keyframes giggle {
  0% {
    margin-left: 0px;
  }
  40% {
    margin-left: 10px;
  }
  60% {
    margin-left: -10px;
  }
  80% {
    margin-left: 5px;
  }
  90% {
    margin-left: -5px;
  }
  100% {
    margin-left: 0px;
  }
}

.search-bar {
  display: flex;
  margin-right: 50px;
}

.search-bar * {
  align-items: flex-start;
  display: inline-block;
  font-size: 32px;
}

.search-bar > label {
  margin-right: 25px;
}

.search-bar > input {
  border: none;
  height: 33px;
  margin: auto;
}

.search-bar > input[type="text"] {
  font: 19px 'Handlee', cursive !important;
  font-weight: bold !important;
}

.search-bar > input[type="submit"] {
  background-color: #00B7AF;
  box-shadow: 2px 2px 4px #555;
  color: white;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold !important;
  margin-left: 15px;
  padding: 0 16px;
}

main {
  height: 100%;
  padding: 20px;
  padding-top: 80px;
  padding-bottom: 50px;
}


@media all and (max-width: 900px) {

  html, body, main, footer {
    margin: 0;
    padding: 0;
  }

  footer {
    margin: 0;
    position: relative !important;
  }

  nav, .brand-icon {
    display: block;
  }

  nav {
    height: 110px;
  }

  main {
    padding-top: 120px;
  }

  .search-bar {
    margin-left: 10px;
    margin-right: 10px;
  }

  .search-bar > label {
    font-size: 25px;
    margin-right: 10px;
  }

  .search-bar > input[type="submit"] {
    margin-left: 5px;
  }

}

.drawer-btn {
  border: 3px solid white;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  padding: 2px 3px !important;
  position: fixed;
  top: 15px;
  left: 15px;
}

.drawer-btn > hr {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  height: 3px;
  margin: 5px;
  width: 25px;
}

.drawer-frame {
  background-color: #fff;
  box-shadow: 1px 0px 5px #888;
  display: inline-block;
  float: left;
  height: 100vh;
}

.drawer-frame * {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav input[type="checkbox"] {
  display: none
}

nav input[type="checkbox"]:checked + .drawer-btn hr {
  background-color: #ccc;  
  color: #ccc;
}
nav input[type="checkbox"]:checked + .drawer-btn {
  border-color: #ccc;
}

nav input[type="checkbox"]:checked + .drawer-btn + .drawer-frame .drawer-menu {
  margin-left: 0;
  transition: all 0.2s;
}

nav input[type="checkbox"]:checked + .drawer-btn + .drawer-frame + .brand-icon {
  margin-left: 15px;
  transition: all 0.2s;
}

.drawer-menu {
  margin-left: -250px;
  padding: 0;
  padding-top: 50px;
  transition: margin-left 0.2s;
  width: 250px;
}

.drawer-menu > .title {
  margin-bottom: 5px;
}
.drawer-menu > .separator {
  margin: auto;
}

.drawer-menu > li {
  padding: 0 20px;
}

.drawer-menu > li > a  {
  background-color: #fff;
}

.drawer-menu .separator {
  background-color: #ddd;
  display: block;
  height: 2px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0;
  width: 90%;
}

.drawer-menu .title {
  color: #aaa;
  font-size: 24px;
}

.drawer-menu a {
  color: #5cb5d8;
  font-size: 20px;
}

footer a:after {
  display: inline;
}


i {
  background: transparent 0 0 no-repeat;
  display: inline-block;
  height: 25px;
  width: 35px;
}

i.recette {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20505.821%20505.82%22%3E%0A%09%3Cpath%20d%3D%22M440.636%2C467.323c0%2C21.226-17.26%2C38.497-38.491%2C38.497H103.687c-21.246%2C0-38.503-17.271-38.503-38.497%20%20%20c0-2.058%2C0.381-4.103%2C1.114-6.023l103.379-270.926c0.036-0.429%2C0.098-0.86%2C0.151-1.283V33.848h-12.215%20%20%20c-9.351%2C0-16.917-7.578-16.917-16.925C140.697%2C7.578%2C148.263%2C0%2C157.614%2C0h29.131c9.351%2C0%2C16.931%2C7.578%2C16.931%2C16.923v173.475%20%20%20c0%2C0.976-0.085%2C1.939-0.248%2C2.899c0%2C2.066-0.497%2C4.844-1.241%2C6.762l-62.27%2C163.182h224.529l-64.332-163.001%20%20%20c-0.697-1.756-1.088-3.611-1.171-5.488l-0.142-1.022c-0.07-0.668-0.106-1.333-0.106-1.998V16.923C298.695%2C7.578%2C306.26%2C0%2C315.612%2C0%20%20%20h29.896c9.351%2C0%2C16.916%2C7.578%2C16.916%2C16.923c0%2C9.348-7.565%2C16.925-16.916%2C16.925h-12.986v156.357L439.448%2C461.11%20%20%20C440.234%2C463.097%2C440.636%2C465.195%2C440.636%2C467.323z%20M220.126%2C325.535c0-6.998%2C5.683-12.69%2C12.688-12.69%20%20%20c7.001%2C0%2C12.696%2C5.687%2C12.696%2C12.69c0%2C6.992-5.695%2C12.69-12.696%2C12.69C225.809%2C338.226%2C220.126%2C332.527%2C220.126%2C325.535z%20%20%20%20M228.576%2C325.535c0%2C2.329%2C1.9%2C4.227%2C4.232%2C4.227c2.329%2C0%2C4.229-1.897%2C4.229-4.227c0-2.334-1.9-4.231-4.229-4.231%20%20%20C230.476%2C321.304%2C228.576%2C323.201%2C228.576%2C325.535z%20M285.691%2C312.845c0-6.998%2C5.692-12.696%2C12.696-12.696%20%20%20c6.999%2C0%2C12.685%2C5.692%2C12.685%2C12.696c0%2C6.987-5.686%2C12.69-12.685%2C12.69C291.383%2C325.535%2C285.691%2C319.844%2C285.691%2C312.845z%20%20%20%20M294.15%2C312.845c0%2C2.329%2C1.897%2C4.221%2C4.231%2C4.221c2.329%2C0%2C4.227-1.892%2C4.227-4.221c0-2.341-1.897-4.231-4.227-4.231%20%20%20C296.047%2C308.613%2C294.15%2C310.516%2C294.15%2C312.845z%20M250.425%2C270.542c0-9.724%2C7.912-17.632%2C17.64-17.632%20%20%20c9.712%2C0%2C17.626%2C7.908%2C17.626%2C17.632c0%2C9.711-7.914%2C17.632-17.626%2C17.632C258.331%2C288.174%2C250.425%2C280.265%2C250.425%2C270.542z%20%20%20%20M258.886%2C270.542c0%2C5.054%2C4.116%2C9.167%2C9.179%2C9.167c5.048%2C0%2C9.174-4.113%2C9.174-9.167c0-5.06-4.126-9.18-9.174-9.18%20%20%20C263.002%2C261.362%2C258.886%2C265.482%2C258.886%2C270.542z%22%20fill%3D%22%23aaaaaa%22%2F%3E%0A%3C%2Fsvg%3E");
  transform: translateY(4px);
}

i.arome {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20950%20950%22%3E%09%3Cpath%20d%3D%22M97.96%2C525.152c15.452%2C203.891%2C186.558%2C424.849%2C377.056%2C424.849c190.543%2C0%2C361.649-220.958%2C377.011-424.849%20%20%20c9.989-131.284-46.628-220.44-140.062-271.815c35.595-30.553%2C66.702-66.721%2C80.655-83.699c4.372-5.32%2C2.354-10.907-4.396-12.268%20%20%20c-39.749-8.012-166.491-31.186-228.326-14.604c-31.713%2C8.513-48.912%2C20.782-57.246%2C35.299%20%20%20c-1.297-31.134-6.179-74.02-23.199-112.543c-16.24-36.645-28.512-53.579-36.388-61.404c-4.885-4.853-15.573-4.934-22.097-2.728%20%20%20l-69.683%2C23.568c-6.522%2C2.206-6.88%2C6.636-1.195%2C10.52c22.261%2C15.207%2C72.626%2C58.1%2C82.958%2C140.188%20%20%20c-8.871-13.48-25.892-24.86-55.902-32.9c-61.836-16.582-188.578%2C6.592-228.327%2C14.604c-6.75%2C1.36-8.762%2C6.944-4.384%2C12.259%20%20%20c14.601%2C17.728%2C47.952%2C56.4%2C85.525%2C87.739C141.318%2C309.46%2C88.329%2C397.566%2C97.96%2C525.152z%20M188.194%2C438.437%20%20%20c8.82-23.672%2C21.091-44.972%2C37.081-62.975c52.137-2.688%2C130.693-9.903%2C175.845-28.983c22.75%2C26.819%2C52.97%2C48.349%2C68.731%2C58.656%20%20%20c5.763%2C3.77%2C15.125%2C3.402%2C20.542-0.847c12.677-9.941%2C35.233-29.218%2C54.729-54.181c50.706%2C18.053%2C132.671%2C24.034%2C180.598%2C25.979%20%20%20c15.591%2C17.805%2C27.198%2C38.771%2C35.931%2C62.039C745.259%2C443.075%2C733%2C457.697%2C733%2C475.681v39.867c0%2C22.011%2C17.963%2C39.863%2C39.956%2C39.863%20%20%20c0.537%2C0%2C0.97-0.289%2C1.465-0.289c-1.972%2C18.677-5.266%2C37.468-10.19%2C56.145c-7.303-9.499-18.295-16.012-31.191-16.012%20%20%20c-21.993%2C0-40.038%2C17.847-40.038%2C39.863v39.862c0%2C18.187%2C12.556%2C32.9%2C29.219%2C37.671c-11.241%2C19.686-24.111%2C38.119-38.128%2C55.566%20%20%20c-7.348-8.04-18.285-13.531-30.871-13.531c-21.992%2C0-40.22%2C15.792-40.22%2C35.3v35.271c0%2C3.426%2C1.535%2C6.563%2C2.567%2C9.696%20%20%20c-42.557%2C31.198-90.434%2C50.214-140.599%2C50.214c-37.538%2C0-73.772-10.641-107.59-29.047c4.256-6.316%2C7.621-13.531%2C7.621-21.704%20%20%20v-39.863c0-22.016-17.964-39.867-40.002-39.867c-22.035%2C0-39.998%2C17.852-39.998%2C39.867v6.674%20%20%20C230%2C736.995%2C184.79%2C644.588%2C175.43%2C555.386c21.991-0.062%2C39.57-17.868%2C39.57-39.838v-39.867%20%20%20C215%2C458.28%2C203.733%2C443.881%2C188.194%2C438.437z%22%20fill%3D%22%23aaaaaa%22%2F%3E%0A%09%3Cpath%20d%3D%22M284.021%2C714.824c22.038%2C0%2C39.979-17.828%2C39.979-39.845v-39.862c0-22.017-17.94-39.863-39.979-39.863%20%20%20c-21.994%2C0-40.021%2C17.847-40.021%2C39.863v39.862C244%2C696.996%2C262.026%2C714.824%2C284.021%2C714.824z%22%20fill%3D%22%23aaaaaa%22%2F%3E%0A%09%3Cpath%20d%3D%22M341.998%2C555.41c22.039%2C0%2C40.002-17.852%2C40.002-39.863v-39.866c0-22.015-17.964-39.862-40.002-39.862%20%20%20c-22.034%2C0-39.998%2C17.847-39.998%2C39.862v39.867C302%2C537.559%2C319.962%2C555.41%2C341.998%2C555.41z%22%20fill%3D%22%23aaaaaa%22%2F%3E%0A%09%3Cpath%20d%3D%22M435%2C714.824c21.993%2C0%2C40-17.828%2C40-39.845v-39.862c0-22.017-18.007-39.863-40-39.863c-22.039%2C0-40%2C17.847-40%2C39.863%20%20%20v39.862C395%2C696.996%2C412.96%2C714.824%2C435%2C714.824z%22%20fill%3D%22%23aaaaaa%22%2F%3E%0A%09%3Cpath%20d%3D%22M502.002%2C555.41c21.993%2C0%2C39.998-17.852%2C39.998-39.863v-39.866c0-22.015-18.005-39.862-39.998-39.862%20%20%20c-22.039%2C0-40.002%2C17.847-40.002%2C39.862v39.867C462%2C537.559%2C479.963%2C555.41%2C502.002%2C555.41z%22%20fill%3D%22%23aaaaaa%22%2F%3E%0A%09%3Cpath%20d%3D%22M542%2C674.979c0%2C22.017%2C17.986%2C39.845%2C39.979%2C39.845c21.993%2C0%2C40.021-17.828%2C40.021-39.845v-39.862%20%20%20c0-22.017-18.027-39.863-40.021-39.863c-21.993%2C0-39.979%2C17.848-39.979%2C39.864V674.979z%22%20fill%3D%22%23aaaaaa%22%2F%3E%0A%09%3Cpath%20d%3D%22M653.525%2C555.41c21.992%2C0%2C39.475-17.852%2C39.475-39.863v-39.866c0-22.015-17.481-39.862-39.475-39.862%20%20%20c-21.994%2C0-39.525%2C17.847-39.525%2C39.862v39.867C614%2C537.559%2C631.532%2C555.41%2C653.525%2C555.41z%22%20fill%3D%22%23aaaaaa%22%2F%3E%0A%09%3Cpath%20d%3D%22M487.002%2C744.335c-22.04%2C0-40.002%2C17.851-40.002%2C39.867v39.863c0%2C21.991%2C17.963%2C39.844%2C40.002%2C39.844%20%20%20c21.993%2C0%2C39.998-17.853%2C39.998-39.844v-39.863C527%2C762.187%2C508.995%2C744.335%2C487.002%2C744.335z%22%20fill%3D%22%23aaaaaa%22%2F%3E%0A%3C%2Fsvg%3E");
  transform: translateY(4px);
}

i.user {
  background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20612%20612%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M306.001%2C325.988c90.563-0.005%2C123.147-90.682%2C131.679-165.167C448.188%2C69.06%2C404.799%2C0%2C306.001%2C0%20c-98.782%2C0-142.195%2C69.055-131.679%2C160.82C182.862%2C235.304%2C215.436%2C325.995%2C306.001%2C325.988z%22%20fill%3D%22%23aaaaaa%22%2F%3E%3Cpath%20d%3D%22M550.981%2C541.908c-0.99-28.904-4.377-57.939-9.421-86.393c-6.111-34.469-13.889-85.002-43.983-107.465%20c-17.404-12.988-39.941-17.249-59.865-25.081c-9.697-3.81-18.384-7.594-26.537-11.901c-27.518%2C30.176-63.4%2C45.962-105.186%2C45.964%20c-41.774%2C0-77.652-15.786-105.167-45.964c-8.153%2C4.308-16.84%2C8.093-26.537%2C11.901c-19.924%2C7.832-42.461%2C12.092-59.863%2C25.081%20c-30.096%2C22.463-37.873%2C72.996-43.983%2C107.465c-5.045%2C28.454-8.433%2C57.489-9.422%2C86.393%20c-0.766%2C22.387%2C10.288%2C25.525%2C29.017%2C32.284c23.453%2C8.458%2C47.666%2C14.737%2C72.041%2C19.884c47.077%2C9.941%2C95.603%2C17.582%2C143.921%2C17.924%20c48.318-0.343%2C96.844-7.983%2C143.921-17.924c24.375-5.145%2C48.59-11.424%2C72.041-19.884%20C540.694%2C567.435%2C551.747%2C564.297%2C550.981%2C541.908z%22%20fill%3D%22%23aaaaaa%22%2F%3E%0A%3C%2Fsvg%3E");
  transform: translateY(4px);
}