form {
  font-size: 1.2em;
  display: inline-block;
}

form > label, form > input {
  display: block;
  margin: 0;
  text-align: center;
}

form > label {
  background-color: #09d;
  border: 2px solid #09d;
  border-top-left-radius: 10px;  
  color: #fff;
  padding: 10px;
}

form > input[type="text"], form input[type="password"] {
  border: 2px solid #09d;
  border-bottom-right-radius: 10px;
  padding: 15px;
}

form .pushable {
  font-size: 1em !important;
  margin: 60px 0 !important;
}

i {
  background: transparent 0 0 no-repeat;
  display: inline-block;
  height: 25px;
  width: 35px;
}

i.user {
  background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20612%20612%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M306.001%2C325.988c90.563-0.005%2C123.147-90.682%2C131.679-165.167C448.188%2C69.06%2C404.799%2C0%2C306.001%2C0%20c-98.782%2C0-142.195%2C69.055-131.679%2C160.82C182.862%2C235.304%2C215.436%2C325.995%2C306.001%2C325.988z%22%20fill%3D%22%23FFFFFF%22%2F%3E%3Cpath%20d%3D%22M550.981%2C541.908c-0.99-28.904-4.377-57.939-9.421-86.393c-6.111-34.469-13.889-85.002-43.983-107.465%20c-17.404-12.988-39.941-17.249-59.865-25.081c-9.697-3.81-18.384-7.594-26.537-11.901c-27.518%2C30.176-63.4%2C45.962-105.186%2C45.964%20c-41.774%2C0-77.652-15.786-105.167-45.964c-8.153%2C4.308-16.84%2C8.093-26.537%2C11.901c-19.924%2C7.832-42.461%2C12.092-59.863%2C25.081%20c-30.096%2C22.463-37.873%2C72.996-43.983%2C107.465c-5.045%2C28.454-8.433%2C57.489-9.422%2C86.393%20c-0.766%2C22.387%2C10.288%2C25.525%2C29.017%2C32.284c23.453%2C8.458%2C47.666%2C14.737%2C72.041%2C19.884c47.077%2C9.941%2C95.603%2C17.582%2C143.921%2C17.924%20c48.318-0.343%2C96.844-7.983%2C143.921-17.924c24.375-5.145%2C48.59-11.424%2C72.041-19.884%20C540.694%2C567.435%2C551.747%2C564.297%2C550.981%2C541.908z%22%20fill%3D%22%23FFFFFF%22%2F%3E%0A%3C%2Fsvg%3E");
  transform: translateY(4px);
}

i.password {
  background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20402%20402%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20d%3D%22M357.45%2C190.721c-5.331-5.33-11.8-7.993-19.417-7.993h-9.131v-54.821c0-35.022-12.559-65.093-37.685-90.218%20%20%20C266.093%2C12.563%2C236.025%2C0%2C200.998%2C0c-35.026%2C0-65.1%2C12.563-90.222%2C37.688C85.65%2C62.814%2C73.091%2C92.884%2C73.091%2C127.907v54.821%20%20%20h-9.135c-7.611%2C0-14.084%2C2.663-19.414%2C7.993c-5.33%2C5.326-7.994%2C11.799-7.994%2C19.417V374.59c0%2C7.611%2C2.665%2C14.086%2C7.994%2C19.417%20%20%20c5.33%2C5.325%2C11.803%2C7.991%2C19.414%2C7.991H338.04c7.617%2C0%2C14.085-2.663%2C19.417-7.991c5.325-5.331%2C7.994-11.806%2C7.994-19.417V210.135%20%20%20C365.455%2C202.523%2C362.782%2C196.051%2C357.45%2C190.721z%20M274.087%2C182.728H127.909v-54.821c0-20.175%2C7.139-37.402%2C21.414-51.675%20%20%20c14.277-14.275%2C31.501-21.411%2C51.678-21.411c20.179%2C0%2C37.399%2C7.135%2C51.677%2C21.411c14.271%2C14.272%2C21.409%2C31.5%2C21.409%2C51.675V182.728%20%20%20z%22%20fill%3D%22%23FFFFFF%22%2F%3E%0A%3C%2Fsvg%3E");
  transform: translateY(2px);
}