.recette {
  width: 100%;
  text-align: left;
}

.recette .title {
  background-color: #94ACC3;
  color: white;
  font-size: 1.1em;
  padding: 8px;
}

.recette label {
  border-bottom: 1px solid #ccc;
  display: block;
  height: 100%;
  margin: 10px 10px 0 10px;
  padding: 4px;
  text-decoration: italic;
}

.recette input, .recette textarea, .recettte select {
  border: none;
  border-bottom: 1px solid #ccc;
  display: block;
  margin-right: 10px;
  width: 100%;
}

.recette .arome {
  border: 1px solid #ccc; 
  display: inline-block;
  width: 50%;
}

.recette .arome > input {
  width: 100%;
}

.recette .short-label {
  display: block;
  text-align: right;
  width: 100%;
}

.recette-button {
  display: inline-block;
  font-size: 1.5em;
  position: relative;
  width: 100%;
}

.recette-button > a > i {
  background: transparent 0 0 no-repeat;
  display: inline-block;
  height: 18px;
  position: relative;
  top: 0;
  width: 45px;
}

.recette-button > a > i.edit {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201024%201024%22%3E%3Cpath%20fill%3D%22white%22%20d%3D%22M992.262%20871.396l-242.552-206.294c-25.074-22.566-51.89-32.926-73.552-31.926%2057.256-67.068%2091.842-154.078%2091.842-249.176%200-212.078-171.922-384-384-384-212.076%200-384%20171.922-384%20384s171.922%20384%20384%20384c95.098%200%20182.108-34.586%20249.176-91.844-1%2021.662%209.36%2048.478%2031.926%2073.552l206.294%20242.552c35.322%2039.246%2093.022%2042.554%20128.22%207.356s31.892-92.898-7.354-128.22zM384%20640c-141.384%200-256-114.616-256-256s114.616-256%20256-256%20256%20114.616%20256%20256-114.614%20256-256%20256z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

.recette-button > a > i.fork {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20550%20300  %22%3E%20%3Cg%3E%0A%20%20%3Cellipse%20fill-opacity%3D%220%22%20fill%3D%22%230f0f00%22%20stroke-width%3D%2238.5%22%20cx%3D%2271.181776%22%20cy%3D%22227.830552%22%20id%3D%22svg_1%22%20rx%3D%2250.499971%22%20ry%3D%2250.499971%22%20stroke%3D%22%23fff%22%2F%3E%0A%20%20%3Cpath%20fill-opacity%3D%220%22%20fill%3D%22%230f0f00%22%20stroke-width%3D%2238.5%22%20d%3D%22m125.661949%2C232.574267c34.830131%2C-2.177326%2062.830825%2C17.418608%2090.148575%2C-64.231118c27.31775%2C-81.649726%2059.416107%2C-92.536356%20124.295763%2C-91.447693%22%20id%3D%22svg_6%22%20stroke%3D%22%23ffffff%22%2F%3E%0A%20%20%3Cline%20stroke%3D%22%23ffffff%22%20fill%3D%22none%22%20stroke-width%3D%2238.5%22%20x1%3D%22122.681752%22%20y1%3D%22234.603283%22%20x2%3D%22419.683086%22%20y2%3D%22234.603283%22%20id%3D%22svg_8%22%20stroke-linejoin%3D%22null%22%20stroke-linecap%3D%22null%22%2F%3E%0A%20%20%3Cellipse%20fill-opacity%3D%220%22%20fill%3D%22%230f0f00%22%20stroke-width%3D%2238.5%22%20cx%3D%22372.911594%22%20cy%3D%2274.83844%22%20id%3D%22svg_11%22%20rx%3D%2250.499971%22%20ry%3D%2250.499971%22%20stroke%3D%22%23fff%22%2F%3E%0A%20%20%3Cellipse%20fill-opacity%3D%220%22%20fill%3D%22%230f0f00%22%20stroke-width%3D%2238.5%22%20cx%3D%22476.950342%22%20cy%3D%22228.410968%22%20id%3D%22svg_12%22%20rx%3D%2250.499971%22%20ry%3D%2250.499971%22%20stroke%3D%22%23fff%22%2F%3E%0A%20%3C%2Fg%3E%3C%2Fsvg%3E");
}

.recette-button > a {  
  background-color: #09d;
  color: white;
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

.recette-button > a:hover {
  background-color: #0ae;
}  
