* {
  box-sizing: border-box !important; 
}

form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:not([no-border]) {
  color: #09d !important; 
  position: relative;
  text-decoration: none;
  transition: color 0.2s;
}

a:not([no-border]):hover {
  color: #7cf !important; 
  transition: color 0.2s;
}

a:not([no-border]):before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #7cf;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s;
}

a:not([no-border]):hover:before {
  visibility: visible;
  transform: scaleX(1);
}

h1, h2, .h1 {
  color: #09d !important;
}

h1, .h1 {
  font-size: 55px !important;
}

@media screen and (max-width: 900px) {

  * { 
    margin: 5px 0;
    text-align: center !important;
  }

  .padded-right {
    padding-right: 0;
  }
  .col-10 {
    display: inline-block;
    width: 100%;
  }
  .col-20 {
    display: inline-block;
    width: 100%;
  }
  .col-30 {
    display: inline-block;
    width: 100%;
  }
  .col-40 {
    display: inline-block;
    width: 100%;
  }
  .col-50 {
    display: inline-block;
    width: 100%;
  }
  .col-60 {
    display: inline-block;
    width: 100%;
  }
  .col-70 {
    display: inline-block;
    width: 100%;
  }
  .col-80 {
    display: inline-block;
    width: 100%;
  }
  .col-90 {
    display: inline-block;
    width: 100%;
  }
  .col-100 {
    display: inline-block;
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .padded-right {
    padding-right: 20px;
  }
  .col-10 {
    display: inline-block;
    width: 10%;
  }
  .col-20 {
    display: inline-block;
    width: 20%;
  }
  .col-30 {
    display: inline-block;
    width: 30%;
  }
  .col-40 {
    display: inline-block;
    width: 40%;
  }
  .col-50 {
    display: inline-block;
    width: 50%;
  }
  .col-60 {
    display: inline-block;
    width: 60%;
  }
  .col-70 {
    display: inline-block;
    width: 70%;
  }
  .col-80 {
    display: inline-block;
    width: 80%;
  }
  .col-90 {
    display: inline-block;
    width: 90%;
  }
  .col-100 {
    display: inline-block;
    width: 100%;
  }
}

.inline-block {
  display: inline-block;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.jumbo {
  margin: -20px;
  overflow: hidden;
  width: 110%;
}

.jumbo > img {
  width: 100%;
  margin-top: -8%;
}

input[type="text"], input[type="number"], input[type="password"], textarea, select {
  border: none;
  border-bottom: 1px solid #ccc;
  color: #578;
  font-family: 'Handlee', cursive;
  font-size: 19px;
  font-weight: bold;
  margin-right: 10px;
  padding: 4px 8px;
  width: 100%;
}

textarea {
  margin-bottom: -10px;
  margin-top: 5px;
  border-width: 1px;
}

input[type="text"], input[type="number"], input[type="password"], textarea, select, option {
  border-left: none;
  border-right: none;
  border-top: none;
}

input[type="number"] {
  text-align: right;
}

main input[type="submit"] {
  border: none;
  background-color: #6d6;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 25px;
  padding: 10px 20px;
}

main input[type="submit"]:hover {
  background-color: #4d4;
  color: white;
}

main input[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

main input[disabled]:hover {
  background-color: #ccc;
  cursor: not-allowed;
}

footer {
  background-color: #47535F;
  bottom: 0;
  color: white;
  padding: 8px;
  position: fixed;
  text-align: center;
  width: 100%;
}

footer span {
  margin-left: 5px;
  margin-right: 5px;
}

.autocomplete {
  border: 1px solid #ccc;
  display: none;
  left: 180px;
  margin-top: -11px;
  position: absolute;
  top: 100%;
}

.autocomplete > li {
  background-color: white;
  border: inherit;
  border-bottom: none;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 4px 8px;
  white-space: nowrap;
  z-index: 1000;
}

.autocomplete > li:hover {
  background-color: #E8F7FF;
}

.pushable {
  box-shadow: 2px 2px 3px #bba687;
  transition: all 0.2s;
}

.pushable:hover {
  background-color: #ffd080;
  transition: all 0.2s;
}

.pushable:active {
  background-color: #ffd38a;
  transform: translate(2px, 2px);
  box-shadow: none;
  transition: all 0.2s;
}