* {
  box-sizing: border-box !important; 
}

form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

h1 {
  color: #09d;
}

@media screen and (max-width: 800px) {

  * { 
    margin: 5px 0;
    text-align: center !important;
  }

  .padded-right {
    padding-right: 0;
  }
  .col-10 {
    display: inline-block;
    width: 100%;
  }
  .col-20 {
    display: inline-block;
    width: 100%;
  }
  .col-30 {
    display: inline-block;
    width: 100%;
  }
  .col-40 {
    display: inline-block;
    width: 100%;
  }
  .col-50 {
    display: inline-block;
    width: 100%;
  }
  .col-60 {
    display: inline-block;
    width: 100%;
  }
  .col-70 {
    display: inline-block;
    width: 100%;
  }
  .col-80 {
    display: inline-block;
    width: 100%;
  }
  .col-90 {
    display: inline-block;
    width: 100%;
  }
  .col-100 {
    display: inline-block;
    width: 100%;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .padded-right {
    padding-right: 10px;
  }
  .col-10 {
    display: inline-block;
    width: 20%;
  }
  .col-20 {
    display: inline-block;
    width: 20%;
  }
  .col-30 {
    display: inline-block;
    width: 100%;
  }
  .col-40 {
    display: inline-block;
    width: 50%;
  }
  .col-50 {
    display: inline-block;
    width: 50%;
  }
  .col-60 {
    display: inline-block;
    width: 50%;
  }
  .col-70 {
    display: inline-block;
    width: 100%;
  }
  .col-80 {
    display: inline-block;
    width: 80%;
  }
  .col-90 {
    display: inline-block;
    width: 80%;
  }
  .col-100 {
    display: inline-block;
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .padded-right {
    padding-right: 20px;
  }
  .col-10 {
    display: inline-block;
    width: 10%;
  }
  .col-20 {
    display: inline-block;
    width: 20%;
  }
  .col-30 {
    display: inline-block;
    width: 30%;
  }
  .col-40 {
    display: inline-block;
    width: 40%;
  }
  .col-50 {
    display: inline-block;
    width: 50%;
  }
  .col-60 {
    display: inline-block;
    width: 60%;
  }
  .col-70 {
    display: inline-block;
    width: 70%;
  }
  .col-80 {
    display: inline-block;
    width: 80%;
  }
  .col-90 {
    display: inline-block;
    width: 90%;
  }
  .col-100 {
    display: inline-block;
    width: 100%;
  }
}

.inline-block {
  display: inline-block;
}

.center {
  text-align: center;
}

.jumbo {
  margin: -20px;
  overflow: hidden;
  width: 110%;
}

.jumbo > img {
  width: 100%;
}

input, textarea, select {
  font-size: 15px;
  padding: 4px 8px;
}

textarea {
  margin-bottom: -10px;
  margin-top: 5px;
  border-width: 1px;
}

input[type="submit"] {
  border: none;
  background-color: #6d6;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 25px;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  border: none;
  background-color: #4d4;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 25px;
  padding: 10px 20px;
}

input[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

input[disabled]:hover {
  background-color: #ccc;
  cursor: not-allowed;
}

footer {
  background-color: #47535F;
  bottom: 0;
  color: white;
  padding: 8px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.autocomplete {
  border: 1px solid #ccc;
  display: none;
  left: 180px;
  margin-top: -11px;
  position: absolute;
  top: 100%;
}

.autocomplete > li {
  background-color: white;
  border: inherit;
  border-bottom: none;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 4px 8px;
  white-space: nowrap;
  z-index: 1000;
}

.autocomplete > li:hover {
  background-color: #E8F7FF;
}

.title {
  color: #09d;
}

.recettes {
  display: inline-block;
  padding: 0;
}

.recettes > li {
  border-radius: 5px;
  background: white;
  display: inline-block;
  list-style: none;
  margin: 10px;
  padding: 4px;
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.recette-container {
  background-color: white;
  border-radius: 5px;
  height: 100%;
  padding: 15px;
}

.tags {
  list-style: none;
  padding: 15px;
}

.tags > li {
  background-color: #3af;
  color: white;
  display: inline-block;
  margin: 5px;
  padding: 10px;
}

.likes {
  text-align: right;
}

.likes > * {
  border-radius: 8px;
  color: white;
  padding: 5px 21px;
}

.likes > .plus {
  background-color: #2A2;
  margin-right: 5px;
}

.likes > .minus {
  background-color: #F73;
}
