extends ../site/layout
block content

  h1 #{ title }

  ul.aromes
    each arome in aromes
      li
        .col-40
          span #{ arome.marque + ' - ' + arome.nom }
            input(type='hidden', value=arome._id)
        .col-40
          label(for='iGotIt') Je l'ai
          input(name='iGotIt', type='checkbox')