extends ../layout
block content

  h1 #{ title }

  ul.aromes
    each arome in aromes
      li
        span #{ arome.marque + ' - ' + arome.nom + ' - ' + arome.description }
          input(type='hidden', value=arome._id)
          label(for='iGotIt') Je l'ai
          input(name='iGotIt', type='checkbox')