extends ../layout
block extend_head
  script(src="../javascripts/app/aromes/new.js")
block content

  h1 #{ title }

  form(method="POST")
    ul
      li
        label Marque
        input(name="marque", placeholder="Le fabricant ou la marque (Ex : Capella)")
        ul.autocomplete(for="marque")
          li Capella
          li TPA / TFA (The Perfumer's Apprentice / The Flavor Apprentice)
          li Flavor West
          li Tasty Puff
          li Solubarôme
      li
        label Nom
        input(name="nom", placeholder="Le nom de l'arôme donné par le fabricant")
      li
        label Description
        input(name="description", placeholder="Une courte description de l'arôme")

    input(type="hidden" name="_csrf" value=csrfToken)
    input(type="submit" value="Enregistrer")