extends ../layout
block extend_script
  script(src="../javascripts/app/recipes/new.js")
block content

  h1 #{ title }

  form(method="POST")
    ul
      li
        label Marque
        input(name="marque")
        ul.autocomplete(for="marque")
          li Capella
          li TPA / TFA (The Perfumer's Apprentice / The Flavor Apprentice)
          li Flavor West
          li Tasty Puff
          li Solubarôme
      li
        label Nom
        input(name="nom")
      li
        label Description
        input(name="description")

    input(type="hidden" name="_csrf" value=csrfToken)
    input(type="submit" value="Enregistrer")