extends ../layout
block extend_script
  script(src="../javascripts/app/recipes/new.js")
block content

  h1 #{ title }

  form(method="POST")
    ul
      li
        label(name="marque") Marque
        input
      li
        label(name="nom") Nom
        input
      li
        label(name="description") Description
        input
      li
        label hastags
        input
      li
        label vendeurs
        input