extends ../site/layout
block extend_head
  script(src="../javascripts/arome-new.js")
block content

  h1 #{ title }

  form.recette(method="POST")
    ul
      li
        label.col-10 Marque
        .col-20
          input(name="marque", type="text", placeholder="Le fabricant ou la marque (Ex : Capella)")
        ul.autocomplete(for="marque")
          li Capella
          li TPA / TFA (The Perfumer's Apprentice / The Flavor Apprentice)
          li Flavor West
          li Tasty Puff
          li Solubarôme
      li
        label.col-10 Nom
        .col-20
          input(name="nom", type="text", placeholder="Le nom de l'arôme donné par le fabricant")
      li
        label.col-10 Description
        .col-20
          textarea(name="description", type="text", placeholder="Une description de l'arôme", rows=5)
    .col-30
      input(type="hidden" name="_csrf" value=csrfToken)
      input(type="submit" value="Enregistrer")