footer
  span Recipes © - Design by Tete1805 - Powered by
  a(target="_blank" href='https://nodejs.org/') NodeJs
  span thanks to
  a(target="_blank" href="http://heroku.com") Heroku
  span / 
  a(target="_blank" href="https://www.mongodb.com/") MongoDb
  span thanks to
  a(target="_blank" href="http://mlab.com") mLab
  span / 
  a(target="_blank" href="http://expressjs.com") Express
  span / 
  a(target="_blank" href="http://mongoosejs.com/") Mongoose
  span / 
  a(target="_blank" href="http://jade-lang.com") Jade