extends layout
block extend_head
  link(rel='stylesheet', href='/stylesheets/home.css') 

block content

  .home

    h1.center Bienvenue sur Recipes

    p.center
      | Le site pour stocker vos recettes de D.I.Y.
    p.center
      | Enregistrez vos propres recettes et choisissez de les partager avec le reste de la communauté !
      br
      | Forkez les recettes des autres membres dans votre profil pour en faire vos propres versions.
      br
      | Marquez les arômes que vous possédez et découvrez quelles recettes y sont associées.

    if (!user)
      p.center 
        a.login(href='/users/signup') S'enregistrer
        span &nbsp;&nbsp;&nbsp;
        a.login(href='/users/login') Se connecter