nav
  span.brand-icon
    a(href="/") Recipes
  div.search-bar
    label(for="search-bar", placeholder="#custard, Strawberry, Fraise, Gourmand...") Search
    input(name="search-bar" type="text")
    input(type="submit", value="➜")
  ul.menu
    li
      span Recettes
        ul
          li
            a(href='/recettes/all') Toutes les recettes
          li
            a(href='/recette/new/edit') Nouvelle recette
          li
            a(href='/recettes/my') Mes recettes
    li
      span Arômes
        ul
          li
            a(href="/aromes/all") Tous les arômes
          li
            a(href="/aromes/new") Nouvel arôme
          li
            a(href="/aromes/my") Mes arômes
    //- li
    //-   span Groupes
    //-     ul
    //-       li
    //-         a(href="/groupes/all") Tous les groupes
    //-       li
    //-         a(href="/groupes/new") Nouveau groupe
    //-       li
    //-         a(href="/groupes/my") Mes groupes

    li
      span Profil
        ul
          if (!user)
            li
              a(href='/users/login') Connexion
            li
              a(href='/users/signup') Inscription
          else
            li
              a(href='/users/profile') Mon profil
            li
              a(href='/users/logout') Déconnexion