extends ../layout

block content

  h1 #{ title }

  form(method="POST")
    ul
      li
        label User
        input(name="email")
      li
        label Password
        input(type="password", name="password")
    
      li
        input(type="submit", value="Login!")
        input(type="hidden" name="_csrf" value=csrfToken)
      li
        a(href="/users/signup") Pas encore inscrit ? S'enregistrer