extends ../site/layout
block extend_head
  link(rel='stylesheet', href='/stylesheets/login.css' media='screen')
block content

  .center

    h1 Connexion

    form(method="POST")
        label
            i.user
            span Ton pseudo
        input(name="pseudo", type="text")
        br
        label
            i.password
            span Ton mot de passe
        input(type="password", name="password")
        input.pushable(type="submit", value="C'est parti !")
        input(type="hidden" name="_csrf" value=csrfToken)
        a(href="/users/signup") Pas encore inscrit ? S'enregistrer