extends ../layout

block content

  h1 Bienvenue #{ user.local.pseudo }

  div 
    b Mon profil
  div Login
  div Email
  div Mon avatar
  hr
  div 
    b Mon activité
  div Nombre de recettes postées
  div Nombre de recettes suivies
  div Nombre d'arômes dans ma besace
  hr
  div
    b Mon statut dans la communauté
  div Nombre de followers
  div Likes reçus
  div Dislikes reçus
  div Likes donnés
  div Dislikes donnés
