extends ../layout

block content

  h1 Inscription

  form(method="POST")
    ul
      li
        label Pseudo
        input(name="pseudo")
      li
        label Password
        input(type="password", name="password")
      li
        input(type="submit", value="Signup!")
        input(type="hidden" name="_csrf" value=csrfToken)
      li
        a(href="/users/login") Déjà enregistré ? Se connecter