extends ../site/layout
block extend_head
  link(rel='stylesheet', href='/stylesheets/login.css')
block content

  .center

    h1 Inscription

    form(method="POST")
      br
      label Pseudo
      br
      input(name="pseudo")
      br
      label Password
      br
      input(type="password", name="password")
      br
      input(type="submit", value="Signup!")
      input(type="hidden" name="_csrf" value=csrfToken)
      br
      br
      a(href="/users/login") Déjà enregistré ? Se connecter