extends ../layout

block content

  h1 Inscription

  form(method="POST")

    label User
    input(name="email")
    br
    labek Password
    input(type="password", name="password")
    br
    input(type="submit", value="Signup!")
    input(type="hidden" name="_csrf" value=csrfToken)

  a(href="/login") Déjà enregistré ? Se connecter